.about-section {
  width: 100%;
  min-height: 100vh;
  padding: 80px 10%;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.about-header h2 {
  font-size: 2.5rem;
  font-weight: bold;
  color: #a259ff;
  margin-bottom: 10px;
}

.about-header p {
  font-size: 1.1rem;
  color: #aaa;
}

/* rotating stars ✦ */
.star {
  display: inline-block;
  color: #a259ff;
  margin: 0 5px;
  animation: spin 4s linear infinite;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.about-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
  width: 100%;
  flex-wrap: wrap;
}

/* text */
.about-text {
  flex: 1;
  padding-right: 20px;
  text-align: left;
}

.about-text h3 {
  font-size: 2rem;
  font-weight: 700;
}

.about-text h3 span {
  color: #a259ff;
}

.about-text p {
  margin: 20px 0;
  font-size: 1.1rem;
  color: #ccc;
  line-height: 1.6;
}

.about-buttons {
  display: flex;
  gap: 15px;
}

.btn {
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 1rem;
  text-decoration: none;
  transition: 0.3s ease;
}

.btn.download {
  background: #a259ff;
  color: #fff;
}

.btn.projects {
  background: transparent;
  border: 2px solid #a259ff;
  color: #a259ff;
}

.btn:hover {
  transform: translateY(-3px);
}

/* image */
.about-image {
  flex: 1;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.about-image img {
  width: 350px;
  height: 340px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0px 0px 30px rgba(162, 89, 255, 0.6);
}

/* responsive */
@media (max-width: 992px) {
  .about-container {
    flex-direction: column;
    text-align: center;
  }

  .about-text {
    padding: 0;
    text-align: center;
  }

  .about-buttons {
    justify-content: center;
  }

  .about-image {
    margin-top: 20px;
  }
}
